// $text-dark: #000000 !default;
// $text-guide: #444444 !default;
// $line: #D0D0D0 !default;
// $white: #FFFFFF !default; /* white */
// $input: #F2F2F2 !default;
// $btn-activation: #D0D0D0 !default;
// $btn-line: #777777 !default;
// $btn-disable: #EEEEEE !default;

// $primary: #FF6633;
// $primaryDarkened: #362827;
// $primaryLightened: #FECFC1;
// $secondary: #CE1D27;
// $accent: #2D2D2D;
// // $accent: #434343;
// $warning: #FF6633;
// $grayDarkened2: #2d2d2d;
// $grayDarkened1: #333333;
// $gray: #434343;
// $grayText: #D9D9D9;
// $grayTextBrightend: #F9F9F9;
// $shade: #F1F4F4;
// $background: #E4E7E7;

// :export {
//   primary: $primary;
//   primaryDarkened: $primaryDarkened;
//   primaryLightened: $primaryLightened;
//   secondary: $secondary;
//   accent: $accent;
//   warning: $warning;
//   grayDarkened1: $grayDarkened1;
//   gray: $gray;
//   grayText: $grayText;
//   grayTextBrightend: $grayTextBrightend;
//   background: $background;
//   shade: $shade;
// }
