/* Color Text Styles */
/* font-style, font-variant, font-weight, font-size/line-height font-family */

/* Heading */
$heading1: 700 22px 'Spoqa Han Sans Neo Bold', sans-serif !default;
$heading2: 700 20px 'Spoqa Han Sans Neo Bold', sans-serif !default;
$heading3: 700 18px 'Spoqa Han Sans Neo Bold', sans-serif !default;
$heading4: 700 16px 'Spoqa Han Sans Neo Bold', sans-serif !default;
$heading5: 700 14px 'Spoqa Han Sans Neo Bold', sans-serif !default;

/* Subtitle */
$subtitle-bold: 700 14px 'Spoqa Han Sans Neo Bold', sans-serif !default;
$subtitle-regular: 400 14px 'Spoqa Han Sans Neo Regular', sans-serif !default;

/* Body */
$body1: 400 18px 'Spoqa Han Sans Neo', sans-serif !default;
$body2: 400 16px 'Spoqa Han Sans Neo', sans-serif !default;
$body3: 400 14px 'Spoqa Han Sans Neo', sans-serif !default;
$body4: 400 12px 'Spoqa Han Sans Neo', sans-serif !default;
$body5: 400 11px 'Spoqa Han Sans Neo', sans-serif !default;

/* Body Bold */
$bold-body1: 700 18px 'Spoqa Han Sans Neo', sans-serif !default;
$bold-body2: 700 16px 'Spoqa Han Sans Neo', sans-serif !default;
$bold-body3: 700 14px 'Spoqa Han Sans Neo', sans-serif !default;
$bold-body4: 700 12px 'Spoqa Han Sans Neo', sans-serif !default;
$bold-body5: 700 11px 'Spoqa Han Sans Neo', sans-serif !default;

/* Label */
$label-large: 700 18px 'Spoqa Han Sans Neo Bold', sans-serif !default;
$label-default: 700 16px 'Spoqa Han Sans Neo Bold', sans-serif !default;
$label-small: 400 13px 'Spoqa Han Sans Neo', sans-serif !default;

/* Caption */
$caption1: 400 14px 'Spoqa Han Sans Neo', sans-serif !default;
$caption2: 400 12px 'Spoqa Han Sans Neo', sans-serif !default;
