/* DevCra Color Themes */

/* Main Color */
$primary1: #FF6633 !default; /* primary blue */
$primary2: #000000 !default; /* primary black */
$primary3: #FFFFFF !default; /* primary white */
$primary-light: #7E87C2 !default; /* light primary blue */
$input: #F2F2F2 !default;
$background: #f0f0f0 !default;
$line: #D0D0D0 !default;
$btn-activation: #D0D0D0 !default;
$btn-line: #777777 !default;
$btn-disable: #EEEEEE !default;
$warning: #cc3300 !default;
$mild-warning: #CA4C4C !default;

/* Text Color */
$text-dark: #000000 !default;
$text-guide: #444444 !default;

/* Card Color */
$card1: #7585B7 !default;
$card2: #E0E4F1 !default;
$card3: #F6F6F6 !default;
$card4: #DEC7D0 !default;
$card5: #E8F9D2 !default;
$card6: #D2F2F9 !default;
$card7: #F2DFF6 !default;
$card8: #FFF4CC !default;
$card9: #E4E6FB !default;

/* Special Colors */
$table-header: #EEF0F7 !default;